<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>


<h1>Movies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration</th>
      <th>View the movie</th>
      <th> View the Available Shows for the Movie </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.duration %> minutes</td>
        <td><%= link_to "Show this Movie", movie_path(movie), class: "btn btn-info" %></td>
        <td><%= link_to "Show all available shows", movie_shows_path(movie), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if current_admin %>
  <%= link_to "New movie", new_movie_path %>
  
<% end %>


<%= link_to "Back to Main Menu", root_path %>