<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Card number:</strong>
    <%= user.card_number %>
  </p>

  <p>
    <strong>Expirate date:</strong>
    <%= user.expirate_date %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= user.cvv %>
  </p>

</div>
