<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, "User Email" %>
    <%= form.collection_select :user_id, User.all, :id, :email, prompt: "Select a User" %>
  </div>

  <div>
    <%= form.label :show_id, "Movie Title" %>
    <%= form.collection_select :show_id, Show.includes(:movie).all, :id, ->(show) { "#{show.movie.title} | #{show.date} | #{show.time.strftime("%I:%M %p")}" }, prompt: "Select a Show" %>
  </div>

  <div>
    <%= form.label :number_of_tickets, "Number of Tickets" %>
    <%= form.number_field :number_of_tickets, min: 1 %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, ['Booked', 'Cancelled'] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>