<div id="<%= dom_id ticket %>">
  <p>
    <strong>User:</strong>
    <%= ticket.user.username %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= ticket.show.movie.title %>
  </p>
  
  <p>
    <strong>Show:</strong>
    <%= ticket.show.date.strftime("%I:%M %p") %>
  </p>

  <p>
    <strong>Confirmation number:</strong>
    <%= ticket.confirmation_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

</div>